<form [formGroup]="searchFiltersForm">
  <div class="header-container">
    <h3 id="label-text-primary">Search Inquiry</h3>
  </div>
  <div class="body-container">
    <div class="first-block">
      <mat-form-field>
        <mat-select placeholder="Room type" formControlName="roomType">
          <mat-option *ngFor="let type of roomEnumService.roomType;" [value]="type">
              {{type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Room number" formControlName="roomNumber">
      </mat-form-field>
    </div>
    <div class="second-block">
      <mat-form-field>
        <input matInput [matDatepicker]="willOccupyIn" placeholder="Will occupy in" formControlName="willOccupyIn">
        <mat-datepicker-toggle matSuffix [for]="willOccupyIn"></mat-datepicker-toggle>
        <mat-datepicker #willOccupyIn></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="footer-container">
      <button mat-raised-button color="primary" [matDialogClose]='searchFiltersForm.value'>
        <span id="button-text-white">Search</span>
      </button>
    </div>
  </div>
</form>
