.parent-form {
  mat-form-field{
    width: 100%;
  }
  >.form{
    >.header-block{
      display: flex;
      justify-content: center;
    }
    >.sixth-block{
      mat-icon:hover{
        cursor: pointer;
      }
      .first-block{
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }
    }
    >.action-buttons-block{
      display: flex;
      justify-content: flex-end;
      #back-button{
        margin-right: 5px;
      }
    }
    #add-partial-button{
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

/*MEDIA QUERIES*/
@media (max-width: 575px) {
}
@media (min-width: 576px) {
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .parent-form{
    display: flex;
    justify-content: center;
    .form{
      mat-form-field{
        width: 48%;
      }
      >.first-block, >.second-block, >.third-block, >.fourth-block, >.fifth-block{
        display: flex;
        justify-content: space-between;
      }
      .fifth-block{
        mat-form-field{
          width: 100%;
        }
        >div{
          width: 48%;
        }
      }
      .sixth-block div{
        .second-block{
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }
