<form [formGroup]="form">
  <div class="header-container">
    <h3 id="label-text-primary">Update Tenant Payment</h3>
  </div>
  <div class="body-container">
    <div class="first-block">
      <mat-form-field>
        <input matInput type="text" placeholder="Tenant name" formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Due rent date" formControlName="dueDate">
      </mat-form-field>
    </div>
    <div class="second-block">
      <mat-form-field>
        <input matInput type="number" placeholder="Rent" formControlName="rent">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Status" formControlName="status" (selectionChange)="statusToggle($event)">
          <mat-option *ngFor="let status of paymentEnumService.paymentStatuses;" [value]="status">
              {{status}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="third-block">
      <div formArrayName="rentBalance" *ngFor="let property of form.get('rentBalance').controls; let i = index;">
        <div [formGroupName]="i">
          <mat-form-field>
            <input matInput type="number" placeholder="Remaining balance" formControlName="balance">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="footer-container">
      <button mat-raised-button color="primary" [matDialogClose]='form.value' [disabled]="!form.valid">
        <span id="button-text-white">Set</span>
      </button>
    </div>
  </div>
</form>
