 <div *ngIf="isLoading" class="form-spinner-container">
  <mat-spinner></mat-spinner>
</div>
<div class="body" *ngIf="isLoading ===false">
  <header>
    <h1>{{currentMonth}}</h1>
    <p>KINDLY SETTLE ALL YOUR BILLS ON OR BEFORE YOUR DUE DATE EXCEPT FOR YOUR ELECTRICITY BILLS
      WHICH IS EVERY FIRST WEEK OF THE MONTH</p>
  </header>
  <table mat-table [dataSource]="dataSource" id="table">
    <ng-container matColumnDef="roomNumber">
      <th mat-header-cell *matHeaderCellDef id="pink-column">ROOMS</th>
      <td mat-cell *matCellDef="let element" id="pink-column">{{element.roomNumber}}</td>
    </ng-container>
    <ng-container matColumnDef="tenants">
      <th mat-header-cell *matHeaderCellDef id="orange-column">TENANTS</th>
      <td mat-cell *matCellDef="let element" id="orange-column">
        <p *ngFor="let tenant of element.tenants">
          {{tenant.name}}
        </p>
      </td>
    </ng-container>
    <ng-container matColumnDef="dueDates">
      <th mat-header-cell *matHeaderCellDef id="sky-blue-column">DUE DATES</th>
      <td mat-cell *matCellDef="let element" id="sky-blue-column">
          <p *ngFor="let tenant of element.tenants">
              {{tenant.dueRentDate}}
          </p>
      </td>
    </ng-container>

    <ng-container matColumnDef="monthMinusThreeAdvanceRentals">
      <th mat-header-cell *matHeaderCellDef id="light-green-column">ADVANCE RENTALS</th>
      <td mat-cell *matCellDef="let element" id="light-green-column">
        <div *ngIf="element.monthMinusThree !== null; else nullAdvanceRental">
          <div *ngFor="let rental of element.monthMinusThree.advanceRental">
            <span>{{ rental.value}}</span>
            <span *ngIf="rental.rentStatus.value !== null"> - {{ rental.rentStatus.value}}</span>
            <span *ngIf="rental.rentStatus.balance !== null">
                - {{rental.rentStatus.balance}}
            </span>
            <span *ngIf="rental.interestAdded !== null"> ({{rental.interestAdded}})</span>
          </div>
        </div>
        <ng-template #nullAdvanceRental>
          NULL
        </ng-template>
      </td>
    </ng-container>
    <ng-container matColumnDef="monthMinusThreeCurrent">
      <th mat-header-cell *matHeaderCellDef id="light-green-column">CURRENT</th>
      <td mat-cell *matCellDef="let element" id="light-green-column">
        <p *ngIf="element.monthMinusThree !== null; else nullCurrent">
          <span>{{ element.monthMinusThree.electricBill.value}}</span>
          <span> - {{element.monthMinusThree.electricBill.status}}</span>
          <span *ngIf="element.monthMinusThree.electricBill.balance !== null">
              - {{element.monthMinusThree.electricBill.balance}}
          </span>
          <span *ngIf="element.monthMinusThree.electricBill.interestAdded !== null"> ({{element.monthMinusThree.electricBill.interestAdded}})</span>
        </p>
        <ng-template #nullCurrent>
          NULL
        </ng-template>
      </td>
    </ng-container>
    <ng-container matColumnDef="monthMinusThreeWater">
      <th mat-header-cell *matHeaderCellDef id="light-green-column">WATER</th>
      <td mat-cell *matCellDef="let element" id="light-green-column">
        <p *ngIf="element.monthMinusThree !== null; else nullWater">
          <span *ngIf="element.monthMinusThree.waterBill.value !== null">{{ element.monthMinusThree.waterBill.value}} - </span>
          <span>{{element.monthMinusThree.waterBill.status}}</span>
          <span *ngIf="element.monthMinusThree.waterBill.balance !== null">
              - {{element.monthMinusThree.waterBill.balance}}
          </span>
          <span *ngIf="element.monthMinusThree.waterBill.interestAdded !== null"> ({{element.monthMinusThree.waterBill.interestAdded}})</span>
        </p>
        <ng-template #nullWater>
          NULL
        </ng-template>
      </td>
    </ng-container>
    <ng-container matColumnDef="monthMinusThreeRiceCooker">
      <th mat-header-cell *matHeaderCellDef id="light-green-column">RICE COOKER</th>
      <td mat-cell *matCellDef="let element" id="light-green-column">
        <div *ngIf="element.monthMinusThree !== null; else nullRiceCooker">
          <div *ngFor="let bill of element.monthMinusThree.riceCookerBill">
            <span>{{ bill.value}}</span>
            <span *ngIf="bill.status !== null"> - {{ bill.status}}</span>
            <span *ngIf="bill.balance !== null">
                - {{bill.balance}}
            </span>
            <span *ngIf="bill.interestAdded !== null"> ({{bill.interestAdded}})</span>
          </div>
        </div>
        <ng-template #nullRiceCooker>
          NULL
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="monthMinusTwoAdvanceRentals">
      <th mat-header-cell *matHeaderCellDef id="gray-column">ADVANCE RENTALS</th>
      <td mat-cell *matCellDef="let element" id="gray-column">
        <div *ngIf="element.monthMinusTwo !== null; else nullAdvanceRental">
          <div *ngFor="let rental of element.monthMinusTwo.advanceRental">
            <span>{{ rental.value}}</span>
            <span *ngIf="rental.rentStatus.value !== null"> - {{ rental.rentStatus.value}}</span>
            <span *ngIf="rental.rentStatus.balance !== null">
                - {{rental.rentStatus.balance}}
            </span>
            <span *ngIf="rental.interestAdded !== null"> ({{rental.interestAdded}})</span>
          </div>
        </div>
        <ng-template #nullAdvanceRental>
          NULL
        </ng-template>
      </td>
    </ng-container>
    <ng-container matColumnDef="monthMinusTwoCurrent">
      <th mat-header-cell *matHeaderCellDef id="gray-column">CURRENT</th>
      <td mat-cell *matCellDef="let element" id="gray-column">
        <p *ngIf="element.monthMinusTwo !== null; else nullCurrent">
          <span>{{ element.monthMinusTwo.electricBill.value}}</span>
          <span> - {{element.monthMinusTwo.electricBill.status}}</span>
          <span *ngIf="element.monthMinusTwo.electricBill.balance !== null">
              - {{element.monthMinusTwo.electricBill.balance}}
          </span>
          <span *ngIf="element.monthMinusTwo.electricBill.interestAdded !== null"> ({{element.monthMinusTwo.electricBill.interestAdded}})</span>
        </p>
        <ng-template #nullCurrent>
          NULL
        </ng-template>
      </td>
    </ng-container>
    <ng-container matColumnDef="monthMinusTwoWater">
        <th mat-header-cell *matHeaderCellDef id="gray-column">WATER</th>
        <td mat-cell *matCellDef="let element" id="gray-column">
          <p *ngIf="element.monthMinusTwo !== null; else nullWater">
            <span *ngIf="element.currentMonth.waterBill.value !== null">{{ element.monthMinusTwo.waterBill.value}} - </span>
            <span>{{element.monthMinusTwo.waterBill.status}}</span>
            <span *ngIf="element.monthMinusTwo.waterBill.balance !== null">
                - {{element.monthMinusTwo.waterBill.balance}}
            </span>
            <span *ngIf="element.monthMinusTwo.waterBill.interestAdded !== null"> ({{element.monthMinusTwo.waterBill.interestAdded}})</span>
          </p>
          <ng-template #nullWater>
            NULL
          </ng-template>
        </td>
    </ng-container>
    <ng-container matColumnDef="monthMinusTwoRiceCooker">
        <th mat-header-cell *matHeaderCellDef id="gray-column">RICE COOKER</th>
        <td mat-cell *matCellDef="let element" id="gray-column">
          <div *ngIf="element.monthMinusTwo !== null; else nullRiceCooker">
            <div *ngFor="let bill of element.monthMinusTwo.riceCookerBill">
              <span>{{ bill.value}}</span>
              <span *ngIf="bill.status !== null"> - {{ bill.status}}</span>
              <span *ngIf="bill.balance !== null">
                  - {{bill.balance}}
              </span>
              <span *ngIf="bill.interestAdded !== null"> ({{bill.interestAdded}})</span>
            </div>
          </div>
          <ng-template #nullRiceCooker>
            NULL
          </ng-template>
        </td>
    </ng-container>

    <ng-container matColumnDef="monthMinusOneAdvanceRentals">
      <th mat-header-cell *matHeaderCellDef id="brown-column">ADVANCE RENTALS</th>
      <td mat-cell *matCellDef="let element" id="brown-column">
        <div *ngIf="element.monthMinusOne !== null; else nullAdvanceRental">
          <div *ngFor="let rental of element.monthMinusOne.advanceRental">
            <span>{{ rental.value}}</span>
            <span *ngIf="rental.rentStatus.value !== null"> - {{ rental.rentStatus.value}}</span>
            <span *ngIf="rental.rentStatus.balance !== null">
                - {{rental.rentStatus.balance}}
            </span>
            <span *ngIf="rental.interestAdded !== null"> ({{rental.interestAdded}})</span>
          </div>
        </div>
        <ng-template #nullAdvanceRental>
          NULL
        </ng-template>
      </td>
    </ng-container>
    <ng-container matColumnDef="monthMinusOneCurrent">
      <th mat-header-cell *matHeaderCellDef id="brown-column">CURRENT</th>
      <td mat-cell *matCellDef="let element" id="brown-column">
        <p *ngIf="element.monthMinusOne !== null; else nullCurrent">
          <span>{{ element.monthMinusOne.electricBill.value}}</span>
          <span> - {{element.monthMinusOne.electricBill.status}}</span>
          <span *ngIf="element.monthMinusOne.electricBill.balance !== null">
              - {{element.monthMinusOne.electricBill.balance}}
          </span>
          <span *ngIf="element.monthMinusOne.electricBill.interestAdded !== null"> ({{element.monthMinusOne.electricBill.interestAdded}})</span>
        </p>
        <ng-template #nullCurrent>
          NULL
        </ng-template>
      </td>
    </ng-container>
    <ng-container matColumnDef="monthMinusOneWater">
      <th mat-header-cell *matHeaderCellDef id="brown-column">WATER</th>
      <td mat-cell *matCellDef="let element" id="brown-column">
        <p *ngIf="element.monthMinusOne !== null; else nullWater">
          <span *ngIf="element.monthMinusOne.waterBill.value !== null">{{ element.monthMinusOne.waterBill.value}} - </span>
          <span>{{element.monthMinusOne.waterBill.status}}</span>
          <span *ngIf="element.monthMinusOne.waterBill.balance !== null">
              - {{element.monthMinusOne.waterBill.balance}}
          </span>
          <span *ngIf="element.monthMinusOne.waterBill.interestAdded !== null"> ({{element.monthMinusOne.waterBill.interestAdded}})</span>
        </p>
        <ng-template #nullWater>
          NULL
        </ng-template>
      </td>
    </ng-container>
    <ng-container matColumnDef="monthMinusOneRiceCooker">
      <th mat-header-cell *matHeaderCellDef id="brown-column">RICE COOKER</th>
      <td mat-cell *matCellDef="let element" id="brown-column">
        <div *ngIf="element.monthMinusOne !== null; else nullRiceCooker">
          <div *ngFor="let bill of element.monthMinusOne.riceCookerBill">
            <span>{{ bill.value}}</span>
            <span *ngIf="bill.status !== null"> - {{ bill.status}}</span>
            <span *ngIf="bill.balance !== null">
                - {{bill.balance}}
            </span>
            <span *ngIf="bill.interestAdded !== null"> ({{bill.interestAdded}})</span>
          </div>
        </div>
        <ng-template #nullRiceCooker>
          NULL
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="currentMonthAdvanceRentals">
      <th mat-header-cell *matHeaderCellDef id="violet-column">ADVANCE RENTALS</th>
      <td mat-cell *matCellDef="let element" id="violet-column">
        <div *ngIf="element.currentMonth !== null; else nullAdvanceRental">
          <div *ngFor="let rental of element.currentMonth.advanceRental">
            <span>{{ rental.value}}</span>
            <span *ngIf="rental.rentStatus.value !== null"> - {{ rental.rentStatus.value}}</span>
            <span *ngIf="rental.rentStatus.balance !== null">
                - {{rental.rentStatus.balance}}
            </span>
            <span *ngIf="rental.interestAdded !== null"> ({{rental.interestAdded}})</span>
          </div>
        </div>
        <ng-template #nullAdvanceRental>
          NULL
        </ng-template>
      </td>
    </ng-container>
    <ng-container matColumnDef="currentMonthCurrent">
        <th mat-header-cell *matHeaderCellDef id="violet-column">CURRENT</th>
        <td mat-cell *matCellDef="let element" id="violet-column">
          <p *ngIf="element.currentMonth !== null; else nullCurrent">
            <span>{{ element.currentMonth.electricBill.value}}</span>
            <span> - {{element.currentMonth.electricBill.status}}</span>
            <span *ngIf="element.currentMonth.electricBill.balance !== null">
                - {{element.currentMonth.electricBill.balance}}
            </span>
            <span *ngIf="element.currentMonth.electricBill.interestAdded !== null"> ({{element.currentMonth.electricBill.interestAdded}})</span>
          </p>
          <ng-template #nullCurrent>
            NULL
          </ng-template>
        </td>
    </ng-container>
    <ng-container matColumnDef="currentMonthWater">
      <th mat-header-cell *matHeaderCellDef id="violet-column">WATER</th>
      <td mat-cell *matCellDef="let element" id="violet-column">
        <p *ngIf="element.currentMonth !== null; else nullWater">
          <span *ngIf="element.currentMonth.waterBill.value !== null">{{ element.currentMonth.waterBill.value}} - </span>
          <span>{{element.currentMonth.waterBill.status}}</span>
          <span *ngIf="element.currentMonth.waterBill.balance !== null">
              - {{element.currentMonth.waterBill.balance}}
          </span>
          <span *ngIf="element.currentMonth.waterBill.interestAdded !== null"> ({{element.currentMonth.waterBill.interestAdded}})</span>
        </p>
        <ng-template #nullWater>
          NULL
        </ng-template>
      </td>
    </ng-container>
    <ng-container matColumnDef="currentMonthRiceCooker">
      <th mat-header-cell *matHeaderCellDef id="violet-column">RICE COOKER</th>
      <td mat-cell *matCellDef="let element" id="violet-column">
        <div *ngIf="element.currentMonth !== null; else nullRiceCooker">
          <div *ngFor="let bill of element.currentMonth.riceCookerBill">
            <span>{{ bill.value}}</span>
            <span *ngIf="bill.status !== null"> - {{ bill.status}}</span>
            <span *ngIf="bill.balance !== null">
                - {{bill.balance}}
            </span>
            <span *ngIf="bill.interestAdded !== null"> ({{bill.interestAdded}})</span>
          </div>
        </div>
        <ng-template #nullRiceCooker>
          NULL
        </ng-template>
      </td>
    </ng-container>
      <!-- Header row first group -->
    <ng-container matColumnDef="header-row-first-group">
      <th mat-header-cell *matHeaderCellDef
          [style.text-align]="center"
          [attr.colspan]="3"
          id="first-row">
        ROOMS - TENANTS - DUEDATES
      </th>
    </ng-container>
    <!-- Header row second group -->
    <ng-container matColumnDef="header-row-second-group">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="4" id="light-green-column">{{monthMinusThree}}</th>
    </ng-container>
    <!-- Header row third group -->
    <ng-container matColumnDef="header-row-third-group">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="4" id="gray-column">{{monthMinusTwo}}</th>
    </ng-container>
    <!-- Header row fourth group -->
    <ng-container matColumnDef="header-row-fourth-group">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="4" id="brown-column">{{monthMinusOne}}</th>
    </ng-container>
    <!-- Header row fourth group -->
    <ng-container matColumnDef="header-row-fifth-group">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="4" id="violet-column">{{currentMonth}}</th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['header-row-first-group', 'header-row-second-group', 'header-row-third-group', 'header-row-fourth-group', 'header-row-fifth-group']"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>


