<mat-toolbar id="side-bar-header" fxLayoutAlign="center center">
  <span>GMRC</span>
</mat-toolbar>
<mat-nav-list>
  <a mat-list-item routerLink="/inquiry">
    <mat-icon>list_alt</mat-icon>
    <span class="nav-caption">INQUIRY</span>
  </a>
  <a mat-list-item routerLink="/room">
    <mat-icon>account_balance</mat-icon>
    <span class="nav-caption">ROOM</span>
  </a>
  <a mat-list-item routerLink="/tenant">
    <mat-icon>people</mat-icon>
    <span class="nav-caption">TENANT</span>
  </a>
  <a mat-list-item routerLink="/payment">
    <mat-icon>attach_money</mat-icon>
    <span class="nav-caption">PAYMENT</span>
  </a>
  <a mat-list-item routerLink="/print">
    <mat-icon>print</mat-icon>
    <span class="nav-caption">PRINT</span>
  </a>
  <a mat-list-item (click)="navigateToLogInForm()">
    <mat-icon>exit_to_app</mat-icon>
    <span class="nav-caption">LOG OUT</span>
  </a>
</mat-nav-list>



