<mat-toolbar id="side-bar-header" fxLayoutAlign="center center">
  <span>GMRC</span>
</mat-toolbar>
<mat-nav-list>
  <a mat-list-item routerLink="/inquiry">
    <mat-icon>list_alt</mat-icon>
    <span class="nav-caption">INQUIRY</span>
  </a>
  <a mat-list-item routerLink="/room">
    <mat-icon>account_balance</mat-icon>
    <span class="nav-caption">ROOM</span>
  </a>
  <a mat-list-item routerLink="/tenant">
    <mat-icon>people</mat-icon>
    <span class="nav-caption">TENANT</span>
  </a>
  <a mat-list-item>
    <mat-icon>attach_money</mat-icon>
    <span class="nav-caption">TENANT DUE BILLS</span>
  </a>
  <a mat-list-item>
    <mat-icon>note</mat-icon>
    <span class="nav-caption">PROMISORY NOTE</span>
  </a>
  <a mat-list-item>
    <mat-icon>create_new_folder</mat-icon>
    <span class="nav-caption">YEARLY RENEWAL OF DOCUMENTS</span>
  </a>
</mat-nav-list>



