 .container {
  display: flex;
  justify-content: center;
   mat-card {
    mat-form-field{
      width: 45%;
    }
    #addressField {
      width: 100%;
    }
    >.form-header-block{
      display: flex;
      justify-content: center;
    }
    >.img-block{
      display: flex;
      justify-content: center;
      height: 170px;
      >.tenant-image{
        img{
          width: 170px;
          height: 170px;
          border-radius: 170px;
        }
        .tenant-image-selector{
          background: #1c1e21;
          opacity: 0.50;
          display: flex;
          align-items: center;
          justify-content: center;
          height:81px;
          width:170px;
          border-radius: 0 0 90px 90px;
          position: relative;
          top: -85px;
          >div{
            text-align: center;
            height: 53%;
            p{
              margin-top: -5px;
              color: white;
            }
            mat-icon{
              color: white;
            }
          }
        }
      }
    }
    >.first-block, >.second-block, >.third-block, >.fourth-block, >.fifth-block{
      display: flex;
      justify-content: space-between;
    }
    >.action-buttons-block{
      display: flex;
      justify-content: flex-end;
      #back-button{
        margin-right: 5px;
      }
    }
  }
}

/*MEDIA QUERIES*/
/*MIN-WIDTH*/
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

