 <div class="header">
   <div class="container">
      <button mat-raised-button color="primary" (click)='onAdvanceSearch()'>
        <span id="button-text-white">Advance Search</span>
      </button>
      <button mat-raised-button color="primary" (click)='onAdvanceSearch()'>
        <span id="button-text-white">Print bills</span>
      </button>
      <button mat-raised-button color="primary" (click)='onAdvanceSearch()'>
        <span id="button-text-white">Print electric bills</span>
      </button>
      <button mat-raised-button color="primary" (click)='onAdvanceSearch()'>
        <span id="button-text-white">Print promisory note</span>
      </button>
      <button mat-raised-button color="primary" (click)='addRoomPayment()'>
          <span id="button-text-white">Add room payment</span>
        </button>
   </div>
 </div>
