<mat-card>
  <header>
    <div class="first-row">
      <h1 id="label-text-primary">INQUIRY</h1>
    </div>
    <div class="second-row">
      <button mat-raised-button color="primary" (click)='onAdvanceSearch()'>
        <span id="button-text-white">Advance Search</span>
      </button>
      <button mat-raised-button color="primary" (click)='displayAllInquiries()'>
        <span id="button-text-white">Display all inquiries</span>
      </button>
      <button mat-raised-button color="primary" (click)='addInquiry()'>
        <span id="button-text-white">Add Inquiry</span>
      </button>
    </div>
  </header>
  <mat-divider></mat-divider>
  <body>
    <table *ngIf="isLoading === false" mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>
      <ng-container matColumnDef="roomType">
        <th mat-header-cell *matHeaderCellDef>Room type</th>
        <td mat-cell *matCellDef="let element">{{element.roomType}}</td>
      </ng-container>
      <ng-container matColumnDef="roomNumber">
        <th mat-header-cell *matHeaderCellDef>Room number</th>
        <td mat-cell *matCellDef="let element">{{element.roomNumber}}</td>
      </ng-container>
      <ng-container matColumnDef="willOccupyIn">
        <th mat-header-cell *matHeaderCellDef>Will occupy in</th>
        <td mat-cell *matCellDef="let element">
          {{convertDateToDateString(element.willOccupyIn)}}
            <div *ngIf="isShowWillOccupyInWarningMsg(element.willOccupyIn) && element.status !== 'Settled'" id="willOccupyInWarningMsg">
              {{warningMessage(element.willOccupyIn, element.name)}}
            </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="foundGMRCthrough">
          <th mat-header-cell *matHeaderCellDef>Found GMRC through</th>
          <td mat-cell *matCellDef="let element">{{element.howDidYouFindUs}}</td>
      </ng-container>
      <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.status === 'Waiting'" id="waiting">{{element.status}}</span>
            <span *ngIf="element.status === 'Settled'" id="settled">{{element.status}}</span>
          </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element" class="actions-container">
          <mat-icon id="label-text-primary" (click)="updateInquiry(element._id)">edit</mat-icon>
          <mat-icon id="delete" (click)="deleteInquiry(element._id, element.name)">delete_forever</mat-icon>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="table-spinner-container">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>
  </body>
  <footer>
    <mat-paginator [length]="totalCount" [pageSizeOptions]="pageSizeOptions"  showFirstLastButtons  (page)="onPaginatorUpdate($event)"></mat-paginator>
  </footer>
</mat-card>
