mat-card{
  >header{
    margin-bottom: 20px;
    button{
      width: 100%;
    }
    >.first-row{
      display: flex;
      justify-content: center;
    }
    >.second-row{
      button:nth-child(2), button:nth-child(3){
        margin-top: 8px;
      }
    }
  }
  >body
    >table{
      width: 100%;
      #waiting{
        color: orange;
      }
      #settled{
        color: green;
      }
      mat-icon:hover{
        cursor: pointer;
      }
      .mat-header-cell{
        text-align: center;
      }
      .mat-cell{
        text-align: center;
      }
      .actions-container{
        mat-icon:nth-child(1){
          float: left;
        }
        mat-icon:nth-child(2){
          float: right;
        }
      }
      #willOccupyInWarningMsg{
        color: red;
        font-size: 12px;
      }
    }
  }
/*MEDIA QUERIES*/
/*MAX-WIDTH*/
@media (max-width: 768px) {
}
/*MIN-WIDTH*/
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  mat-card{
    >header{
      display: flex;
      justify-content: space-between;
      >.first-row{
        width: 30%;
      }
      >.second-row {
        width: 30%;
        display: flex;
        flex-flow: column;
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
