<div class="header">
  <div class="container">
    <button mat-raised-button color="primary" (click)='onAdvanceSearch()'>
      <span id="button-text-white">Advance Search</span>
    </button>
    <button mat-raised-button color="primary" (click)='addEntry()'>
      <span id="button-text-white">Add Entry</span>
    </button>
  </div>
</div>
<table *ngIf="isLoading === false" mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="roomNumber">
    <th mat-header-cell *matHeaderCellDef>Room number</th>
    <td mat-cell *matCellDef="let element">{{element.roomNumber}}</td>
  </ng-container>
  <ng-container matColumnDef="tenant">
    <th mat-header-cell *matHeaderCellDef>Tenant</th>
    <td mat-cell *matCellDef="let element">
      {{element.tenant[0].firstname+' '+element.tenant[0].middlename+' '+element.tenant[0].lastname}}
    </td>
  </ng-container>
  <ng-container matColumnDef="monthlyRent">
    <th mat-header-cell *matHeaderCellDef>Monthy rent</th>
    <td mat-cell *matCellDef="let element">{{element.monthlyRent}}</td>
  </ng-container>
  <ng-container matColumnDef="key">
    <th mat-header-cell *matHeaderCellDef>Key</th>
    <td mat-cell *matCellDef="let element">{{element.key}}</td>
  </ng-container>
  <ng-container matColumnDef="dateEntry">
      <th mat-header-cell *matHeaderCellDef>Date entry</th>
      <td mat-cell *matCellDef="let element">{{convertDateToDateString(element.dateEntry)}}</td>
    </ng-container>
    <ng-container matColumnDef="dateExit">
      <th mat-header-cell *matHeaderCellDef>Date exit</th>
      <td mat-cell *matCellDef="let element">{{convertDateToDateString(element.dateExit)}}</td>
    </ng-container>
  <ng-container matColumnDef="oneMonthDeposit">
    <th mat-header-cell *matHeaderCellDef>One month deposit</th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="element.oneMonthDeposit === 'Paid'" id="paid">{{element.oneMonthDeposit}}</span>
      <span *ngIf="element.oneMonthDeposit === 'Unpaid'" id="un-paid">{{element.oneMonthDeposit}}</span>
      <span *ngIf="element.oneMonthDeposit === 'Balance'" id="balance">{{element.oneMonthDeposit}}</span>
    </td>
  </ng-container>
  <ng-container matColumnDef="oneMonthAdvance">
    <th mat-header-cell *matHeaderCellDef>One month advance</th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="element.oneMonthAdvance === 'Paid'" id="paid">{{element.oneMonthAdvance}}</span>
      <span *ngIf="element.oneMonthAdvance === 'Unpaid'" id="un-paid">{{element.oneMonthAdvance}}</span>
      <span *ngIf="element.oneMonthAdvance === 'Balance'" id="balance">{{element.oneMonthAdvance}}</span>
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
        <mat-icon id="label-text-primary" (click)="updateEntry(element._id)">edit</mat-icon>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div class="table-spinner-container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>
<footer>
  <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons [length]="totalCount" (page)="onPaginatorUpdate($event)"></mat-paginator>
</footer>
