.header-container{
  display: flex;
  justify-content: center;
}
.body-container{
  mat-form-field{
    width: 48%;
  }
  >.first-block{
    mat-form-field{
      width: 100%;
    }
    >.first-block, >.second-block{
      width: 48%;
    }
  }
  >.first-block, >.second-block, >.third-block{
    display: flex;
    justify-content: space-between;
  }
}
.footer-container{
  display: flex;
  justify-content: flex-end;
}
