.parent-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../../../assets/img/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .container{
    width: 85%;
    display: flex;
    justify-content: center;
    background: white;
    >.form{
      width: 90%;
      mat-form-field{
        width: 100%;
      }
      >.header-block{
        >.first-block{
          h3{
            display: flex;
            justify-content: center;
          }
        }
      }
      >.body{
        >.second-block{
          margin-top: 10px;
        }
      }
      >.error{
        display: flex;
        justify-content: center;
      }
      >.footer{
        display: flex;
        justify-content: flex-end;
        margin: 20px 0 20px 0;
      }
    }
  }
}

/*MEDIA QUERIES*/
@media (max-width: 575px) {
}
@media (min-width: 576px) {
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .parent-container{
    .container{
      width: 30%;
      // height: 48%;
      // border: 1px solid #dadce0;
      // border-radius: 8px;
    }
  }
}
