@import '~@angular/material/theming';

@include mat-core();

// Define the theme.
$gmrc-theme-primary:  mat-palette($mat-blue,50);
$gmrc-theme-accent:  mat-palette($mat-green,50);
$gmrc-theme-warn:   mat-palette($mat-red);

$my-theme: mat-light-theme($gmrc-theme-primary, $gmrc-theme-accent, $gmrc-theme-warn);

@include angular-material-theme($my-theme);
