<div class="advance-search">
  <button mat-raised-button color="primary" (click)='onAdvanceSearch()'>
    <span id="button-text-white">Advance Search</span>
  </button>
</div>
<table *ngIf="isLoading === false" mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="roomNumber">
    <th mat-header-cell *matHeaderCellDef>Room number</th>
    <td mat-cell *matCellDef="let element" id="center">{{element.number}}</td>
  </ng-container>
  <ng-container matColumnDef="floorNumber">
    <th mat-header-cell *matHeaderCellDef>Floor number</th>
    <td mat-cell *matCellDef="let element"id="center">{{element.floor}}</td>
  </ng-container>
  <ng-container matColumnDef="aircon">
    <th mat-header-cell *matHeaderCellDef>Aircon</th>
    <td mat-cell *matCellDef="let element" id="center">{{element.aircon}}</td>
  </ng-container>
  <ng-container matColumnDef="bed">
    <th mat-header-cell *matHeaderCellDef>Bed</th>
    <td mat-cell *matCellDef="let element" class="bedColumn">
      <div *ngFor="let bedspace of element.bedspaces" class="bedBlock">
        <p id="bold">Number: {{bedspace.number}}</p>
        <div *ngFor="let deck of bedspace.decks" class="deckBlock">
          <div class="first-block">
            <p id="bold">Deck: {{deck.number}}</p>
          </div>
          <div class="second-block">
            <p>Status: {{deck.status}}</p>
            <p>Due rent date: {{deck.dueRent !== null ? deck.dueRent : "null"}}</p>
          </div>
          <div class="third-block">
            <p>Tenant: {{deck.tenant !== null ? deck.tenant.firstname+" "+deck.tenant.middlename+" "+deck.tenant.lastname : null}}</p>
          </div>
          <div *ngFor="let away of deck.away" class="away-block">
            <div class="first-block">
              <p>Will return in: {{convertDateToDateString(away.willReturnIn)}}</p>
              <p>Status: {{away.status}}</p>
            </div>
            <div class="second-block">
              <p>In date: {{convertDateToDateString(away.inDate)}}</p>
              <p>Out date: {{convertDateToDateString(away.outDate)}}</p>
            </div>
            <div class="third-block">
              <p>In time: {{away.inTime}}</p>
              <p>Out time: {{away.outTime}}</p>
            </div>
            <div class="fourth-block">
              <p>Tenant: {{ away.tenant !== null ? away.tenant.firstname+" "+away.tenant.middlename+" "+away.tenant.lastname: null}}</p>
            </div>
          </div>
        </div>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="actions" class="actionColumn">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element" id="center">
      <mat-icon id="label-text-primary" (click)="udpateBedspace(element._id)">edit</mat-icon>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div class="table-spinner-container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>
<footer>
  <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons [length]="totalCount" (page)="onPaginatorUpdate($event)"></mat-paginator>
</footer>


