<mat-card>
  <div class="header">
    <div class="first-block">
      <h1 id="label-text-primary">PAYMENT</h1>
    </div>
    <div class="second-block">
      <button mat-raised-button color="primary" (click)="routeToEntry()">
        <span id="button-text-white">ENTRY</span>
      </button>
      <button mat-raised-button color="primary" (click)="routeToRoom()">
        <span id="button-text-white">ROOM</span>
      </button>
      <button mat-raised-button color="primary" (click)="routeToPenalties()">
        <span id="button-text-white">PENALTIES</span>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="route-area">
    <router-outlet></router-outlet>
  </div>
</mat-card>


