<mat-card>
  <div class="header">
    <div class="first-block">
      <h1 id="label-text-primary">PRINT</h1>
    </div>
    <div class="second-block">
      <button mat-raised-button color="primary" (click)="openRoomBillsTab()">
        <span id="button-text-white">Room Bills</span>
      </button>
      <button mat-raised-button color="primary" (click)="openElectricBillsTab()">
        <span id="button-text-white">Electric Bills</span>
      </button>
      <button mat-raised-button color="primary" (click)="routeToPromisoryNote()">
        <span id="button-text-white">Promisory Note</span>
      </button>
      <button mat-raised-button color="primary" (click)="routeToUnpaidBalanceTenants()">
        <span id="button-text-white">Un-paid/Balance Tenants</span>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="route-area">
    <router-outlet></router-outlet>
  </div>
</mat-card>
